body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f2f4f6;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Bitter';
    font-size: 48px;
    margin-bottom: 10px;
    text-align: center;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

li a {
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s;
}

li a:hover {
    color: #2980b9;
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 18px;
        padding: 10px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 22px;
    }
}

.email-container {
    margin-top: auto;  /* Pushes the footer to the bottom */
    width: 100%;       /* Full width of the page */
    height: 50px;      /* Adjusted height */
    text-align: center; /* Centers the text horizontally */
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    background-color: #f2f4f6;
    border-top: 1px solid #ccc;
    display: flex;      /* Use Flexbox for alignment */
    justify-content: center; /* Center content horizontally */
    align-items: center;     /* Center content vertically */
    padding: 10px 0;   /* Padding for top and bottom */
}

.divider {
    margin: 0 10px; /* Adds 10px space on both sides */
}

/* Additional CSS for Flash Messages */
.flash-message {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
}

.flash-message.success {
    background-color: #2ecc71;
}

.flash-message.error {
    background-color: #e74c3c;
}

.video-summary {
    font-size: 14px;
    color: #555;
    margin-top: 5px;
}
