<!DOCTYPE html>
<html>
<head>
    <title>Latest YouTube Videos</title>
</head>
<body>
    <h1>Latest Videos</h1>
    {% for channel_title, data in playlists.items() %}
        <h2><a href="{{ data.url }}">{{ channel_title }}</a></h2>
        <ul>
            {% for video in data.videos['items'] %}
                <li>
                    <a href="https://www.youtube.com/watch?v={{ video['contentDetails']['videoId'] }}">
                        {{ video['snippet']['title'] }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</body>
</html>
