{% extends "base.html" %}
{% block title %}Home - Summary Feeds{% endblock %}
{% block content %}
    {% for channel_title, data in playlists.items() %}
        <h2><a href="{{ data.url }}">{{ channel_title }}</a></h2>
        <ul>
            {% for video in data.videos['items'] %}
                <li>
                    <a href="https://www.youtube.com/watch?v={{ video['contentDetails']['videoId'] }}">
                        {{ video['snippet']['title'] }}
                    </a>
                    <p class="video-date">
                        {{ video['snippet']['formattedPublishedAt'] }}
                    </p>
                    {% if video.summaries %}
                        <p class="video-summary">
                            Summary: {{ video.summaries[0].summary }}
                        </p>
                {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
